# Python
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# Project outputs
data/raw/
data/processed/
outputs/
checkpoints/
logs/

# Testing/coverage
.pytest_cache/
.coverage
htmlcov/

# Env/config
.env
